* {
	font-family: helvetica;
	color: darkred;
}

body {
	background-color: darkgray;
	text-align: center;
}

.main {
	background-color: white;
	display: inline-block;
	padding: 25px;
	margin: 10px;
	border: 2px solid dimgray;
	border-radius: 10px;
	text-align: center;
}

#galo {
	float: left;
	height: 100px;
	width: 100px;
}

.title {
	float: left;
	line-height: 100px;
	font-size: 40px;
	font-weight: bolder;
	margin-left: 10px;
}

#size {
	clear: both;
	padding-top: 20px;
	text-align: justify;
}


#sizetxt {
	width: 50px;
	color: black;
}

#player {
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: justify;
}

.grid {	
	display: inline-grid;
	border: 3px solid red;
	grid-gap: 1px;
	background-color: yellow;
	text-align: center;
	border-radius: 5px;
}

.grid > div {
	font-size: 24px;
	background-color: black;
	width: 50px;
	height: 50px;
}

.footer {
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	left: 25%;
	right: 25%;
	width: 300px;
	background-color: yellow;
	color: black;
	padding: 10px;
	text-align: center;
}

#pbar {
	background: lightgray;
	height: 10px;
	border-radius: 0px;
	border: 0px;
}
